---
const today = new Date();
import { Icon } from 'astro-icon/components'
---

<footer class = "site-footer">
	&copy; {today.getFullYear()} Ted Paek. All rights reserved.
	<div class="social-links">
		<a class="youtube" href="https://www.youtube.com/@ted-tech-tips" target="_blank">
			<span class="sr-only">Subscribe to Ted's channel</span>
			<Icon name="mdi:youtube" class="icon" />
		</a>
		<a class="linkedin" href="https://www.linkedin.com/in/ted-paek/" target="_blank">
			<span class="sr-only">Connect with me!</span>
			<Icon name="mdi:linkedin" class="icon" />
		</a>
		<a class="github" href="https://github.com/ted0526" target="_blank">
			<span class="sr-only">Go to Ted's GitHub repo</span>
			<Icon name="mdi:github" class="icon" />
		</a>
	</div>
</footer>

<style>
	footer {
	position: relative;
	padding: 2em 1em 6em;
	background: linear-gradient(var(--gray-gradient));
	color: rgb(var(--gray));
	text-align: center;
	overflow: hidden;
	}

	footer::before {
	content: "";
	position: absolute;
	inset: 0;
	background: url('/portfolio-site/patterns/footer-pattern.svg') repeat;
	opacity: 0.03;        
	z-index: 1;
	}
	footer > * {
	position: relative;
	z-index: 2;
	}


	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray)); /* icon inherits this */
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}

	.icon {
		width: 32px;
		height: 32px;
		color: currentColor;
		transition: color 200ms ease-in-out, transform 200ms ease-in-out;
	}

	.social-links a:hover .icon {
		transform: scale(1.1);
	}
	.social-links a.youtube:hover .icon {
		color: #FF0000;         /* YouTube red */
	}
	.social-links a.linkedin:hover .icon {
		color: #0077B5;         /* LinkedIn blue */
	}
	.social-links a.github:hover .icon {
		color: #000000;         /* GitHub black */
	}
</style>
