---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import { Icon } from 'astro-icon/components'
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/projects">Projects</HeaderLink>
			<HeaderLink href="/resume">Resume</HeaderLink>
		</div>
		<div class="social-links">
			<a class="youtube" href="https://www.youtube.com/@ted-tech-tips" target="_blank">
				<span class="sr-only">Subscribe to Ted's channel</span>
				<Icon name="mdi:youtube" class="icon" />
			</a>
			<a class="linkedin" href="https://www.linkedin.com/in/ted-paek/" target="_blank">
				<span class="sr-only">Connect with me!</span>
				<Icon name="mdi:linkedin" class="icon" />
			</a>
			<a class="github" href="https://github.com/ted0526" target="_blank">
				<span class="sr-only">Go to Ted's GitHub repo</span>
				<Icon name="mdi:github" class="icon" />
			</a>
		</div>
	</nav>	
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}


	.social-links,
	.social-links a {
		display: flex;
		text-decoration: none;
    	color: rgb(var(--gray)); /* icon inherits this */
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
	.social-links a:hover .icon {
		transform: scale(1.1);
	}

	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}

	.icon {
		width: 32px;
		height: 32px;
		color: currentColor;
	    transition: color 200ms ease-in-out, transform 200ms ease-in-out;
  	}
	.social-links a.youtube:hover .icon {
		color: #FF0000;         /* YouTube red */
	}
	.social-links a.linkedin:hover .icon {
		color: #0077B5;         /* LinkedIn blue */
	}
	.social-links a.github:hover .icon {
		color: #000000;         /* GitHub black */
	}
</style>

